@page "/regions"

@attribute [Authorize(AricCarPermissions.Regions.Default)]
@using AricCar.Localization
@using AricCar.Permissions
@using AricCar.Regions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components


@inherits AricCarComponentBase
@inject IRegionAppService RegionsAppService
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<AricCarResource> LH
@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="区域管理" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>

        <Row>
            <div class="col col-md-12 col-lg-12">
                <div class="mb-3">
                    <Form id="RegionSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                          Autofocus="true"
                                          Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="RegionSearchForm" Clicked="GetRegionsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>

            @*    <div class="col-md-4 col-lg-2">
                <div class="mb-3">
                    <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                            Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">
                        更多过滤条件
                        <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
                    </Button>
                </div>
            </div> *@

            @*  <div style="display: @(!ShowAdvancedFilters ? "none" : "block")" class="mt-3">
                <Row>
                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>省</FieldLabel>
                            <Select @bind-SelectedValue="@Filter.ProvinceCode">
                                <SelectItem Value="@string.Empty"></SelectItem>
                                @if (ProvicnesList != null)
                                {
                                    @foreach (var item in ProvicnesList!.Items)
                                    {
                                        <SelectItem Value="@item.code">@item.name</SelectItem>
                                    }
                                }
                            </Select>
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>市</FieldLabel>
                            <Select @bind-SelectedValue="@Filter.CityCode">
                                <SelectItem></SelectItem>

                            </Select>
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is3">
                        <Field>
                            <FieldLabel>区/县</FieldLabel>
                            <Select @bind-SelectedValue="@Filter.DistrictCode">
                                <SelectItem></SelectItem>

                            </Select>
                        </Field>
                    </Column>
                </Row>
            </div> *@

        </Row>


    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="RegionDto"
                  Data="RegionList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>
            <DataGridColumns>


                <DataGridEntityActionsColumn TItem="RegionDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="RegionDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="RegionDto"
                                          Visible="@CanDeleteRegion"
                                          Clicked="() => DeleteRegionAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>

                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>

                <DataGridColumn TItem="RegionDto"
                                Field="ProvincialName"
                                Caption="省">
                </DataGridColumn>


                <DataGridColumn TItem="RegionDto"
                                Field="CityName"
                                Caption="市">
                </DataGridColumn>

                <DataGridColumn TItem="RegionDto"
                                Field="DistrictName"
                                Caption="区/县">
                </DataGridColumn>

                <DataGridColumn TItem="RegionDto"
                                Field="CreationTime"
                                Caption="创建时间">
                    <DisplayTemplate>
                        @context.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")
                    </DisplayTemplate>
                </DataGridColumn>


            </DataGridColumns>


        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateRegionModal" Closing="@CreateRegionModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">

        <Form id="CreateRegionForm">
            <ModalHeader>
                <ModalTitle>创建新区域</ModalTitle>
                <CloseButton Clicked="CloseCreateRegionModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewRegionValidations"
                             Mode="ValidationMode.Auto"
                             Model="@NewRegion"
                             ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>省</FieldLabel>
                            <SelectList TItem="RegionItem"
                                        TValue="string"
                                        Data="@ProvicnesList"
                                        TextField="@((item)=>item.name)"
                                        ValueField="@((item)=>item.code)"
                                        DefaultItemValue="string.Empty"
                                        DefaultItemText="请选择"
                                        @bind-SelectedValue="@NewRegion.ProvincialCode"
                                        @bind-SelectedValue:after="@OnProvinceChanged">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </SelectList>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>市</FieldLabel>
                            <SelectList TItem="RegionItem"
                                        TValue="string"
                                        Data="@Cities"
                                        TextField="@((item)=>item.name)"
                                        ValueField="@((item)=>item.code)"
                                        DefaultItemValue="string.Empty"
                                        DefaultItemText="请选择"
                                        Disabled="@(Cities==null || Cities.Count()==0)"
                                        @bind-SelectedValue="@NewRegion.CityCode"
                                        @bind-SelectedValue:after="@OnCityChanged">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </SelectList>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>区/县</FieldLabel>
                            <SelectList TItem="RegionItem"
                                        TValue="string"
                                        Data="@Districts"
                                        DefaultItemValue="string.Empty"
                                        DefaultItemText="请选择"
                                        Disabled="@(Districts==null || Districts.Count()==0)"
                                        TextField="@((item)=>item.name)"
                                        ValueField="@((item)=>item.code)"
                                        @bind-SelectedValue="@NewRegion.DistrictCode"
                                        @bind-SelectedValue:after="@OnDistrictChanged">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </SelectList>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateRegionModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateRegionForm" Clicked="CreateRegionAsync" />
            </ModalFooter>
        </Form>

    </ModalContent>
</Modal>
